@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

body {
  font-family: "Roboto Serif", serif;
  box-sizing: border-box;
}
.main {
  width: 100%;

  background: linear-gradient(to right, #1d1b1bf6, #2e0303ce);
  color: white;
}

.content p {
  font-size: 14px;
}

.header-area .header-top {
    background: #2e0000;
    padding: 13px 88px
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .header-area .header-top {
        padding:8px 20px
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .header-area .header-top {
        padding:8px 30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-top {
        padding:8px 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-top {
        padding:17px 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-top {
        padding:17px 20px
    }
}

.header-area .header-top .header-info-left ul li {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    border-right: 1px solid rgba(255,255,255,0.2);
    padding-right: 15px
}

.header-area .header-top .header-info-left ul li:last-child {
    margin-right: 0px;
    padding-right: 0;
    border-right: 0
}

.header-area .header-top .header-info-left ul li i {
    margin-right: 12px;
    color: #fff
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-top .header-info-left ul li {
        margin-right:10px;
        font-size: 11px
    }
}

.header-area .header-top .header-info-right .header-social li {
    display: inline-block
}

.header-area .header-top .header-info-right .header-social li a {
    color: #fff;
    font-size: 16px;
    padding-left: 19px
}

.header-area .header-top .header-info-right .header-social li a i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

.header-area .header-top .header-info-right .header-social li a:hover i {
    color: #fff;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

.header-area .header-bottom {
    padding: 0px 88px
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .header-area .header-bottom {
        padding:0px 20px
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .header-area .header-bottom {
        padding:0px 30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .header-bottom {
        padding:0px 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-bottom {
        padding:15px 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-bottom {
        padding:15px 20px
    }
}

@media (max-width: 575px) {
    .header-area .header-bottom {
        padding:15px 0px
    }
}

.header-area .main-header .main-menu {
    margin-left: 60px
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .header-area .main-header .main-menu {
        margin-left:20px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-header .main-menu {
        margin-left:40px
    }
}

.header-area .main-header .main-menu ul>li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0px 14px
}

.header-area .main-header .main-menu ul>li:last-child {
    margin: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-header .main-menu ul>li {
        margin:0px 12px
    }
}

.header-area .main-header .main-menu ul>li a {
    font-family: "Roboto",sans-serif;
    color: #2D0000;
    font-weight: 400;
    padding: 29px 7px;
    display: block;
    font-size: 18px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: capitalize;
    position: relative
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-header .main-menu ul>li a {
        font-size:18px
    }
}

.header-area .main-header .main-menu ul>li a::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0px;
    right: 5px;
    left: -5px;
    height: 3px;
    z-index: 1;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    background: #B40000
}

.header-area .main-header .main-menu ul>li:hover>a {
    color: #B40000
}

.header-area .main-header .main-menu ul>li:hover>a::after {
    left: 0;
    right: auto;
    width: 100%;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.header-area .main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
    padding: 17px 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.header-area .main-header .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display: block
}

.header-area .main-header .main-menu ul ul.submenu>li:last-child {
    margin: 0px 8px
}

.header-area .main-header .main-menu ul ul.submenu>li>a {
    padding: 6px 10px !important;
    font-size: 17px;
    color: #2D0000;
    font-weight: 400;
    text-transform: capitalize
}

.header-area .main-header .main-menu ul ul.submenu>li>a::after {
    position: unset
}

.header-area .main-header .main-menu ul ul.submenu>li>a:hover {
    color: #B40000;
    background: none
}

.header-area .main-header .logo {
    float: left
}

.header-area .main-header ul>li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
    z-index: 8
}

.header-area .header-sticky.sticky-bar {
    background: #fff
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-sticky.sticky-bar {
        padding:15px 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-sticky.sticky-bar {
        padding:15px 20px
    }
}

@media (max-width: 575px) {
    .header-area .header-sticky.sticky-bar {
        padding:15px 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-sticky.sticky-bar .header-right-btn {
        display:none
    }
}

@media (max-width: 575px) {
    .header-area .header-sticky.sticky-bar .header-right-btn {
        display:none
    }
}

.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-right-btn {
        margin-right:55px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-right-btn {
        position:absolute;
        right: 6px;
        bottom: -80px;
        z-index: 2
    }
}

@media (max-width: 575px) {
    .header-right-btn {
        position:absolute;
        right: 6px;
        bottom: -109px;
        z-index: 2
    }
}

.bg-img-sec-1 {
  position: relative;
  height: 85vh;
  background-image: url(img/Section-1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}




h1,h2,h3,h4,h5,h6{
  font-family: "Baskervville",serif;
}




.about-low-area .about-right-cap .img-cap {
    position: absolute;
    bottom: -18px;
    right: -35px;
    width: 194px;
    height: 171px;
    padding: 18px 10px;
    background: #B40000;
    text-align: center
}

@media (max-width: 575px) {
    .about-low-area .about-right-cap .img-cap {
        left:0;
        width: 128px;
        height: 145px;
        padding: 8px 10px
    }
}

.about-low-area .about-right-cap .img-cap span {
    color: #fff;
    font-size: 76px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 5px;
    display: block
}

.about-low-area .about-right-cap .img-cap p {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    padding: 0 19px;
    line-height: 1.4
}



.about-low-area .about-right-cap {
    position: relative
}


.our-practice-area .single-services1 {
    background: #ffff;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    margin: 4px;
    padding: 35px 30px 1px 30px
}
.our-practice-area .single-services1 .services-ion {
    margin-bottom: 19px
}

.our-practice-area .single-services1 .services-cap h5 a {
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 12px;
    font-weight: 400;
    display: block;
    color: #2D0000 !important
}


.form-wrapper {
    background: #B40000;
    padding: 44px 60px 46px 60px;
    border-radius: 0 140px 0 0
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .form-wrapper {
        padding:60px 20px 20px 20px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .form-wrapper {
        padding:60px 60px 40px 60px;
        margin-top: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .form-wrapper {
        margin-top:50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .form-wrapper {
        margin-top:50px;
        border-radius: 0 40px 0 0
    }
}

@media (max-width: 575px) {
    .form-wrapper {
        margin-top:50px;
        padding: 60px 20px;
        border-radius: 0 40px 0 0
    }
}

.form-wrapper .form-tittle h2 {
    color: #fff;
    font-size: 38px;
    display: block;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 5px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .form-wrapper .form-tittle h2 {
        font-size:32px
    }
}

@media (max-width: 575px) {
    .form-wrapper .form-tittle h2 {
        font-size:29px
    }
}

.form-wrapper .form-tittle p {
    color: #fff;
    font-size: 14px;
    line-height: 1.8
}

.form-wrapper input {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    border: 1px solid rgba(255,255,255,0.5);
    height: 55px;
    width: 100%;
    padding: 10px 10px;
    padding-right: 30px;
    background: none;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 0
}

.form-wrapper input .list {
    width: 100%;
    border-radius: 0
}

.form-wrapper input::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400
}

.form-wrapper input:focus {
    border: 1px solid #FF6F00
}

              
.form-wrapper textarea {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
    border: 1px solid rgba(255,255,255,0.5);
    background: none;
    text-transform: capitalize;
    height: 116px;
    width: 100%;
    padding: 21px 23px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .form-wrapper textarea {
        padding:30px 42px
    }
}
.form-wrapper input::-moz-placeholder,.form-wrapper input::-moz-placeholder {
    transition: .4s
}

.form-wrapper input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.submit_btn {
    width: 100%;
    background: #FF6F00;
    font-family: "Baskervville",serif;
    text-transform: inherit !important;
    padding: 25px 43px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 0px;
    line-height: 1;
    line-height: 0;
    cursor: pointer;
    -moz-user-select: none;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden
}

.submit_btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px
}

.submit_btn:hover {
    color: #B40000 !important
}

.submit_btn:hover::before {
    transform: scaleX(1);
    z-index: -1
}

.submit_btn i {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

section-tittle{
  margin-bottom: 95px;
}


.sec-1-content {
  position: relative;
  z-index: 2;
}



.sec-1-btn {
  border: none;
  background-color: #b40000;
}



.f-right {
    float: right
}



.mb-5 {
    margin-bottom: 5px
}



.ml-15 {
    margin-left: 15px
}
.testimonial-padding {
    /* padding-top: 96px; */
    padding-bottom: 81px;
    /* background-image:url('img/testimonial-padding'); */
    background-image: url(./img/Section_5.jpg)

}.section-img-bg2 {
    background-size: cover !important;
    background-repeat: no-repeat !important
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-padding {
        padding-top:70px;
        padding-bottom: 70px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-padding {
        padding-top:70px;
        padding-bottom: 70px
    }
}

@media (max-width: 575px) {
    .testimonial-padding {
        padding-top:70px;
        padding-bottom: 70px
    }
}
.section-padding {
    padding-top: 120px;
    padding-bottom: 120px
}



.header-btn2 {
    padding: 20px 0px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #2D0000;
    font-family: "Roboto",sans-serif;
    margin-left: 26px
}


.single-services .services-caption {
    position: relative;
    background: #fff;
    width: 80%;
    padding: 33px 30px 16px 32px;
    margin-top: -100px;
    float: right
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-services .services-caption {
        padding:33px 30px 16px 32px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-services .services-caption {
        width:95%;
        margin-top: -65px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-services .services-caption {
        width:95%;
        padding: 33px 16px 16px 26px;
        margin-top: -65px;
        margin-bottom: 50px
    }
}

@media (max-width: 575px) {
    .single-services .services-caption {
        width:96%;
        padding: 33px 16px 16px 26px;
        margin-top: -40px;
        margin-bottom: 50px
    }
}

.single-services .services-caption span {
    margin-bottom: 15px;
    line-height: 13px;
    color: #B40000;
    font-weight: 400;
    font-size: 16px;
    display: block
}

.single-services .services-caption h3 a {
    color: #2D0000;
    font-weight: 400;
    font-size: 24px;
    display: block
}

.single-services .services-caption h3 a:hover {
    color: #B40000
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-services .services-caption h3 a {
        font-size:18px
    }
}

@media (max-width: 575px) {
    .single-services .services-caption h3 a {
        font-size:18px
    }
}

.single-services .services-caption p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: "Roboto",sans-serif
}
 .services-caption span {
    margin-bottom: 15px;
    line-height: 13px;
    color: #B40000;
    font-weight: 400;
    font-size: 16px;
    display: block
}
.single-services .services-caption p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: "Roboto",sans-serif
}

.readmore {
    color: #2D0000 !important;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    display: inline-block,
}

.readmore::before {
    position: absolute;
    content: "";
    background: #B40000;
    width: 100%;
    height: 2px;
    bottom: -11px
    
}

.want-wrapper{
         position: relative;
    content: "";
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2D0000;
    z-index: -1

}
.want-wrapper .wantToWork-area {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
    padding: 20px 36px 10px 50px;
    background: #EFE2E2;
}

 
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .want-wrapper .wantToWork-area .wantToWork-caption h2 {
        font-size:30px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .want-wrapper .wantToWork-area .wantToWork-caption h2 {
        font-size:35px
    }
}

@media (max-width: 575px) {
    .want-wrapper .wantToWork-area .wantToWork-caption h2 {
        font-size:25px
    }
}

.want-wrapper .wantToWork-area .wantToWork-caption p {
    font-size: 16px;
    margin-bottom: 0;
    color: #2D0000;
    font-weight: 300
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .want-wrapper .wantToWork-area .wantToWork-btn {
        float:left;
        margin-top: 30px
    }
}

@media (max-width: 575px) {
    .want-wrapper .wantToWork-area .wantToWork-btn {
        float:left;
        margin-top: 30px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .want-wrapper .wantToWork-area .wantToWork-btn {
        margin-top:30px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .want-wrapper .wantToWork-area .contact-now {
        float:left
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .want-wrapper .wantToWork-area .contact-now {
        float:left
    }
}

@media (max-width: 575px) {
    .want-wrapper .wantToWork-area .contact-now {
        float:left
    }
}

.want-wrapper .wants-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap
}
.want-wrapper .wantToWork-area .contact-now span {
    font-family: "Baskervville",serif;
    font-size: 24px;
    font-weight: 400;
    margin-right: 31px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .want-wrapper .wantToWork-area .contact-now span {
        font-size:17px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .want-wrapper .wantToWork-area .contact-now span {
        font-size:14px;
        margin-top: 20px
    }
}

@media (max-width: 575px) {
    .want-wrapper .wantToWork-area .contact-now span {
        font-size:14px;
        margin-top: 20px
    }
}
.btn2 {
    background
: #B40000;
    color: #ffff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 31px 12px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
}
.btn_2 {
    color: #B40000;
    border: 1px solid #B40000;
    display: inline-block;
    padding: 11px 20px;
    text-transform: capitalize;
    font-size: 16px
}



.about-low-area {
    position: relative
}


.about-low-area .about-right-cap .about-right-img img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 140px 0 0 0
}
.testimonial-area {
    position: relative
}



.want-wrapper {
    position: relative
}



.footer-wrappper {
    background: #2D0000
}

.footer-padding {
    padding-top: 80px;
    padding-bottom: 0;
}
 .footer-menu {
    text-align: center;
    margin-bottom: 28px
} .footer-menu ul>li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0px 14px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-wrappper .footer-area .footer-menu ul>li {
        margin:0px 12px
    }
}

@media (max-width: 575px) {
    .footer-wrappper .footer-area .footer-menu ul>li {
        margin:0px 2px
    }
}

.footer-wrappper .footer-area .footer-menu ul>li a {
    font-family: "Roboto",sans-serif;
    color: #fff;
    font-weight: 400;
    padding: 29px 7px;
    display: block;
    font-size: 18px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: capitalize;
    position: relative
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-menu ul>li a {
        font-size:18px
    }
}

@media (max-width: 575px) {
    .footer-menu ul>li a {
        padding:11px 7px
    }
}

.footer-menu ul>li:hover>a {
    color: #FF6F00
}



.footer-wrappper .footer-bottom-area .bottom-top {
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 18px 0
}

.footer-wrappper .footer-bottom-area .bottom-top .footer-info-left ul li {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    border-right: 1px solid #fff;
    padding-right: 15px
}

.footer-wrappper .footer-bottom-area .bottom-top .footer-info-left ul li:last-child {
    margin-right: 0px;
    padding-right: 0;
    border-right: 0
}

.footer-wrappper .footer-bottom-area .bottom-top .footer-info-left ul li i {
    margin-right: 12px;
    color: #fff
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-wrappper .footer-bottom-area .bottom-top .footer-info-left ul li {
        margin-right:10px;
        font-size: 11px
    }
}

@media (max-width: 575px) {
    .footer-wrappper .footer-bottom-area .bottom-top .footer-info-right .footer-social {
        margin-bottom:20px
    }
}

.footer-wrappper .footer-bottom-area .bottom-top .footer-info-right .footer-social li {
    display: inline-block
}

.footer-wrappper .footer-bottom-area .bottom-top .footer-info-right .footer-social li a {
    color: #fff;
    font-size: 16px;
    padding-left: 19px
}

.footer-wrappper .footer-bottom-area .bottom-top .footer-info-right .footer-social li a i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

.footer-wrappper .footer-bottom-area .bottom-top .footer-info-right .footer-social li a:hover i {
    color: #fff;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

.footer-wrappper .footer-bottom-area .footer-border {
    padding-top: 30px;
    padding-bottom: 20px
}

.appoinmtn_btn
{
  background-color: #fff;
    color: #B40000 !important;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 0px;
    font-weight: 400;
    text-transform: capitalize;
    border: 1px solid transparent;
    display: inline-block;
}